<%= javascript_include_tag 'post', 'data-turbolinks-track': 'reload' %>

<div class="container-fluid">
  <p></p>
  <div class="row">
    <div class="col-sm-3">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row">
          <div class="col-md-4 text-center">
            <% if @profile.image.attached? %>
              <%= image_tag(@profile.image, :class => "avatar img-circle img-thumbnail", :alt => "avatar", :size => "120x120") %>
            <% else %>
              <img class="img-thumbnail img-fluid" src="https://i.stack.imgur.com/34AD2.jpg" alt="avatar">
            <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 class="card-title"><%= @profile.first_name %> </h6>
              <h6 class="card-title"><%= @profile.last_name %> </h6>
              <br>
              <p class="card-text"><%= @profile.bio %></p>
            </div>
          </div>
        </div>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <h6><b><u>Email</u></b></h6>
          <%= @user.email %>
        </li>
        <li class="list-group-item">
          <h6><b><u>Country</u></b></h6>
          <%= @profile.country %>
        </li>
        <li class="list-group-item">
          <h6><b><u>City</u></b></h6>
          <%= @profile.city %>

        </li>
      </ul>
    </div>
    <div class="col-sm-5">
      <div class="jumbotron jumbotron-fluid justify-content-xl-center">
        <a class="btn btn-dark" data-toggle="collapse" href="#collapseComment" role="button" aria-expanded="false" aria-controls="collapseExample" style="margin-top: -100px;margin-left: 10px;">
          New Post
        </a>
        <div class="collapse" id="collapseComment" style="margin-top: -30px">
          <div class="card card-body">
            <%= render '/posts/form', post: @new_post %>
          </div>
        </div>
        <% if @posts.length > 0 %>
          <ul class="list-group ">
            <% @posts.each do |post| %>
              <li class="list-group-item">
                <div class="card mb-3">
                <div class="card-header">
                  <div class="row">
                    <div class="col-md-9">
                      <% if @profile.image.attached? %>
                        <%= image_tag(@profile.image, :class => "avatar img-circle img-thumbnail", :alt => "avatar", :size => "50x50") %>
                      <% else %>
                        <img src="https://i.stack.imgur.com/34AD2.jpg" alt="avatar" class="post-user-image">
                      <% end %>
                      <a href="#">
                        <%= @profile.first_name %>
                      </a>
                    </div>
                    <div class="col-md-3 text-center">
                      <small><%= post.created_at.to_date %></small>
                    </div>
                  </div>
                </div>
                <div class="card-body text-left">
                  <div class="row">
                    <div class="col-md-10">
                      <a href="<%= post_path(post.id) %>" class="btn-outline-warning"><h5 class="card-title"><%= post.title %></h5></a>
                    </div>
                    <div class="col-md-2 text-center">
                      <% if post.solved %>
                        <i class="fas fa-check fa-2x"></i>
                      <% end %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p class="card-text"><%= post.description %></p>
                    </div>
                  </div>

                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-sm-8">
                      <a class="btn btn-dark" data-toggle="collapse" href="#collapseExample<%= post.id %>" role="button" aria-expanded="false" aria-controls="collapseExample<%= post.id %>">
                        Comments
                      </a>
                      <div class="collapse" id="collapseExample<%= post.id %>">
                        <div class="card card-body">
                          <ul class="list-group">
                            <% if @comments[post.id].present? %>
                              <% @comments[post.id].each do |comment|%>
                                <p></p>
                                <% if Profile.find_by_id(comment['user_profile_id']).image.attached? %>
                                  <%= image_tag(Profile.find_by_id(comment['user_profile_id']).image, :class => "avatar img-circle img-thumbnail", :alt => "avatar", :size => "30x30") %>
                                <% else %>
                                  <img src="https://i.stack.imgur.com/34AD2.jpg" alt="avatar" sizes="30x30">
                                <% end %>
                                <a href="<%= profile_path(comment['user_profile_id']) %>">
                                  <%= Profile.find_by_id(comment['user_profile_id']).first_name + " " +
                                          Profile.find_by_id(comment['user_profile_id']).last_name %>
                                </a>
                                <%= comment['text'] %>
                              <% end %>
                            <% else %>
                              <p> No comments yet </p>
                            <% end %>
                          </ul>
                          <div class="card card-body">
                              <textarea id="comment_post<%= post.id %>" name="<%= @new_comment %>">
                                <%= @new_comment %>
                              </textarea>
                            <a class="btn btn-dark" id="new_comment<%= post.id %>"
                               href="<%= new_comment_prof_path(:current_post => post.id, :comment => @new_comment) %>">
                              New Comment
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 text-right">
                      <%= @votes[post.id]["up"] %>
                      <a class="btn">
                        <i class="fas fa-thumbs-up fa-hand-thumbs-up "></i>
                      </a>
                      <%= @votes[post.id]["down"] %>
                      <a class="btn">
                        <i class="fas fa-thumbs-down fa-hand-thumbs-down"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              </li>
            <% end %>
          </ul>
        <% else %>
          <div class="jumbotron">
            <h2>You have no posts yet</h2>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="jumbotron">
        <h5>Activity</h5>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#shared-posts" id="shared-posts-tab" role="tab" data-toggle="tab" aria-controls="shared-posts" aria-selected="true">Shared</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#voted-posts" id="voted-posts-tab" role="tab" data-toggle="tab" aria-controls="voted-posts" aria-selected="false">Voted</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#followingposts" id="followingposts-tab" role="tab" data-toggle="tab" aria-controls="followingposts" aria-selected="false">Following</a>
          </li>
        </ul>
        <div class="tab-content" id="PostsTabContent">
          <div class="tab-pane fade show active list-group" id="shared-posts" role="tabpanel" aria-label="shared-posts-tab">
            shared posts
          </div>
          <div class="tab-pane fade list-group" id="voted-posts" role="tabpanel" aria-label="voted-posts-tab">
            voted posts
          </div>
          <div class="tab-pane fade list-group" id="followingposts" role="tabpanel" aria-label="followingposts-tab">
            <% if @following_posts.length > 0 %>
              <% @following_posts.each do |post| %>
                <a href="/posts/<%= post['id'] %>" class="list-group-item list-group-item-action">
                  <div class="media-body">
                    <div class="media mt-3">
                      <% if post["author_image"].attached? %>
                        <%= image_tag(post["author_image"], :class => "avatar img-circle img-thumbnail", :alt => "avatar", :size => "50x50") %>
                      <% else %>
                        <img src="https://i.stack.imgur.com/34AD2.jpg" class="avatar img-circle img-thumbnail" alt="avatar" height="60" width="60">
                      <% end %>
                      <div class="media-body">
                        <h5 class="mt-0"><%= post["title"] %></h5>
                        <div class="row">
                          <div class="col-md-10">
                            <%= post["description"] %>
                          </div>
                          <div class="col-md-1">
                            <% if post['solved'] %>
                              <i class="fas fa-check fa-2x"></i>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <small><%= post['date'] %></small>
                    </div>
                    <div class="row">
                      <div class="col-md-8">
                      </div>
                      <div class="col-md-2">
                        <small>
                          <%= post['votes']['up']%> <i class="fas fa-thumbs-up "></i>
                        </small>
                      </div>
                      <div class="col-md-2">
                        <small>
                          <%= post['votes']['down'] %> <i class="fas fa-thumbs-down "></i>
                        </small>
                      </div>
                    </div>
                  </div>
                </a>
              <% end %>
            <% else %>
              <p>
              <h6>
                This profile doesn't have any <strong>following posts</strong>.
              </h6>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p></p>
</div>