<%= javascript_include_tag 'dumpsters', 'data-turbolinks-track': 'reload' %>
<div class="d-lg-flex p-3 justify-content-md-center">
  <div class="jumbotron" style="width:100%">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <input id="dumpsterSearcher" class="form-control" onkeyup="searchInDumpster()"  type="search" placeholder="Search">
      </div>
    </div>
    <br>
    <table id="dumpsterTable" class="table table-striped">
      <thead>
      <th>Title</th>
      <th>Author</th>
      <th>Creation date</th>
      <th>Dumped date</th>
      <th></th>
      </thead>
      <tbody>
      <% @dumped_posts.each do |post| %>
        <tr>
          <td><%= post["title"] %></td>
          <td><%= post["author"] %></td>
          <td><%= post["creation_date"] %></td>
          <td><%= post["dumped_date"] %></td>
          <td>
            <a href="/post_view/<%= post['id'] %>">
              <button class="btn btn-outline-info">View Post</button>
            </a>
            <%=link_to 'Remove', dumpster_path(post["dumped_id"]), method: :delete, data:{confirm: "Are you sure?"},
                       class: "btn btn-outline-danger" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>