<!--@post{"id", "title", "description", "solved", "text", "user_first_name", "user_last_name"}-->
<!-- @comments[{"id","user_id","user_first_name", "user_last_name", "text", "date"}]-->
<div class="container justify-content-xl-center">
  <ul class="list-group ">
    <li class="list-group-item">
      <div class="card mb-3">
          <div class="card-header">
            <div class="row">
              <div class="col-md-10">
                <img src="" class="avatar img-circle img-thumbnail" alt="avatar">
                <a href="#">
                  <%= @post['user_first_name'] + ' ' + @post['user_last_name']%>
                </a>
              </div>
              <div class="col-md-2 text-center">
                <small><%=@post['date'] %></small>
                <br>
                <a href="/report_post/<%= @post['id'] %>">
                  <small>Report</small>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body text-left">
            <div class="row">
              <div class="col-md-10">
                <h5 class="card-title"><%=@post['title'] %></h5>
              </div>
              <div class="col-md-2 text-center">
                <% if @post['solved'] %>
                <i class="fas fa-check fa-2x"></i>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="card-text"><%=@post['description'] %></p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-8">
                <h6>Comments</h6>
              </div>
              <div class="col-sm-4 text-right">
                <%= @post['votes']['up'] %>
                <a class="btn">
                  <i class="fas fa-thumbs-up fa-hand-thumbs-up "></i>
                </a>
                <%= @post['votes']['down'] %>
                <a class="btn">
                  <i class="fas fa-thumbs-down fa-hand-thumbs-down"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
    </li>
    <% @comments.each do |comment| %>
      <li class="list-group-item">
        <div class="media-body">
          <div class="media mt-3">
            <img src="" class="mr-3" alt="...">
            <div class="media-body">
              <a href="/profiles/<%= comment['user_profile_id'] %>">
                <h6 class="mt-0"><%= comment["user_first_name"] %> <%= comment["user_last_name"] %> </h6>
              </a>
              <%= comment["text"] %>
            </div>
            <small><%= comment['date'] %></small>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>