<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @attachment.category %>
</p>

<p>
  <strong>Post:</strong>
  <%= @attachment.post %>
</p>

<p>
  <strong>Link:</strong>
  <%= @attachment.link %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
