<div class="d-lg-flex p-3 justify-content-md-center">
  <div class="jumbotron" style="width:100%">
    <br>
    <table class="table table-striped table-dark">
      <thead>
      <th>Status</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Author</th>
      <th></th>
      </thead>
      <tbody>
      <% @black_list.each do |user| %>
        <tr>
          <% case %>
          <% when user["is_active"] %>
            <td><i class="fas fa-user fa-3x"></i></td>
          <% when (not user["is_active"]) %>
            <td><i class="fas fa-user-slash fa-3x"></i></td>
          <% end %>
          <td><%= user["first_name"] %></td>
          <td><%= user["last_name"] %></td>
          <td><%= user["email"] %></td>
          <td><%= user["author"] %></td>
          <td>
            <%= link_to 'Ban user', ban_user_path(user["id"]), method: :post,
                        data: {confirm: "You are going to remove this user from Blacklist. Are you sure?"}, class: "btn btn-outline-danger" %>
            <%= link_to 'Remove', black_list_path(user["black_list_id"]),
                        method: :delete, data: {confirm: "You are going to Ban this user. Are you sure?"}, class: "btn btn-outline-light" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>