<div class="container justify-content-md-center">
  <div class="jumbotron">
    <ul class="nav nav-tabs" id="homeTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#top20posts" id="top20posts-tab" role="tab" data-toggle="tab" aria-controls="top20posts" aria-selected="true">Active</a>
      </li>
      <% unless current_user.nil? %>
      <li class="nav-item">
            <a class="nav-link" href="#followingposts" id="followingposts-tab" role="tab" data-toggle="tab" aria-controls="followingposts" aria-selected="false">Following
            posts</a>
      </li>
      <% end %>
    </ul>
    <div class="tab-content" i="homeTabContent">
      <div class="tab-pane fade show active list-group" id="top20posts" role="tabpanel" aria-labelledby="top20posts-tab" >
        <% if @top_20_post %>
          <% @top_20_post.each do |post| %>
            <a href="/posts/<%= post['id'] %>" class="list-group-item list-group-item-action">
              <div class="media-body">
                <div class="media mt-3">
                  <% if post["author_image"].attached? %>
                    <%= image_tag(post["author_image"], :class => "avatar img-circle img-thumbnail", :alt => "avatar", :size => "50x50") %>
                  <% else %>
                    <img src="https://i.stack.imgur.com/34AD2.jpg" class="avatar img-circle img-thumbnail" alt="avatar" height="60" width="60">
                  <% end %>
                  <div class="media-body">
                    <h5 class="mt-0"><%= post["title"] %></h5>
                    <%= post["description"] %>
                  </div>
                  <small><%= post['date'] %></small>
                </div>
                <small>Votes: <%= post['votes']['up'] + post['votes']['down'] %> </small>
              </div>
            </a>
          <% end %>
        <% end %>
      </div>
      <div class="tab-pane fade link-list" id="followingposts" role="tabpanel" aria-label="followingposts-tab">
        holi
      </div>
    </div>
  </div>
</div>