<p id="notice"><%= notice %></p>

<h1>Profile Photos</h1>

<table>
  <thead>
    <tr>
      <th>Profile</th>
      <th>Photo link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_photos.each do |profile_photo| %>
      <tr>
        <td><%= profile_photo.profile %></td>
        <td><%= profile_photo.photo_link %></td>
        <td><%= link_to 'Show', profile_photo %></td>
        <td><%= link_to 'Edit', edit_profile_photo_path(profile_photo) %></td>
        <td><%= link_to 'Destroy', profile_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile Photo', new_profile_photo_path %>
