<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @profile_photo.profile %>
</p>

<p>
  <strong>Photo link:</strong>
  <%= @profile_photo.photo_link %>
</p>

<%= link_to 'Edit', edit_profile_photo_path(@profile_photo) %> |
<%= link_to 'Back', profile_photos_path %>
