<h1>Advanced Search</h1>

<%= form_for @search do |f| %>
  <div class="field">
    <%= f.label :keywords %><br/>
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label 'Search Options' %><br />
    <%= f.label :profile, "Profile", :value => "true"  %>
    <%= f.radio_button :profile, true, :location => false, :checked => true %>
    <%= f.label :profile, "Location", :value => "false" %>
    <%= f.radio_button :profile, false, :location => true %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
<h1>Search Results</h1>

<%= render @search.posts %>