<%= javascript_include_tag 'post_view.js' %>
<div class="container justify-content-xl-center">
  <ul class="list-group ">
    <li class="list-group-item">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-md-10">
              <% if @post['user_image'].attached? %>
                <%= image_tag(@post['user_image'], :class => "avatar img-circle img-thumbnail", :alt => "avatar", :size => "50x50") %>
              <% else %>
                <img src="https://i.stack.imgur.com/34AD2.jpg" class="avatar img-circle img-thumbnail" alt="avatar" height="60" width="60">
              <% end %>
              <a href="/profiles/<%= @post['user_id'] %>">
                <%= @post['user_first_name'] + ' ' + @post['user_last_name'] %>
              </a>
            </div>
            <div class="col-md-2 text-center">
              <small><%= @post['date'] %></small>
              <br>
              <a href="<%= @post['id'] %>/reports/new">
                <small>Report</small>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-left">
          <div class="row">
            <div class="col-md-10">
              <h5 class="card-title"><%= @post['title'] %></h5>
              <% if @has_location %>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMbuU8iVUfQUrsrI5nR35yvLX3-glWSz0&language=en&callback=initMap"
                        async defer></script>
                <a data-toggle="modal" href="#show-location-modal" id="show-map" data-target="#show-location-modal"
                   data-lat="<%= @latitude %>" data-lng="<%= @longitude %>">
                  <small>Location</small>
                </a>
              <% end %>
            </div>
            <div class="col-md-2 text-center">
              <% if @post['solved'] %>
                <i class="fas fa-check fa-2x"></i>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="card-text"><%= @post["description"] %></p>
            </div>
            <div>
              <% if @post['images'].present? %>
                <!-- @post.image.present? will always return true, use attached? to check presence -->
                <p>
                  <strong>Images:</strong>
                  <br>
                <ul>
                  <% @post['images'].each do |image| %>
                    <li>
                      <%= image_tag image.variant(resize: "500x500") %>
                    </li>
                  <% end %>
                </ul>
                </p>
              <% end %>
              <% if @post['files'].present? %>
                <p>
                  <strong>File:</strong>
                  <br>
                <ul>
                  <% @post['files'].each do |file| %>
                    <li>
                      <%= link_to "../" + url_for(file) do %>
                        This is a file
                      <% end %>
                    </li>
                  <% end %>
                </ul>
                </p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-8">
              <h5>Comments</h5>
            </div>
            <div class="col-sm-4 text-right">
              <%= @post['votes']['up'] %>
              <a class="btn" id="vote-up" href="<%= vote_up_path %>">
                <i class="fas fa-thumbs-up fa-hand-thumbs-up "></i>
              </a>
              <%= @post['votes']['down'] %>
              <a class="btn" id="vote-down" href="<%= vote_down_path %>">
                <i class="fas fa-thumbs-down fa-hand-thumbs-down"></i>
              </a>
              <a class="btn" id="follow-post" href="<%= followpost_path %>" data-toggle="tooltip" data-placement="bottom" title="Follow">
                <i class="fas fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <% @comments.each do |comment| %>
      <li class="list-group-item">
        <div class="media-body">
          <div class="media mt-3">
            <% if Profile.find_by_id(comment['user_profile_id']).image.attached? %>
              <%= image_tag(Profile.find_by_id(comment['user_profile_id']).image, :class => "avatar img-circle img-thumbnail", :alt => "avatar", :size => "50x50") %>
            <% else %>
              <img src="https://i.stack.imgur.com/34AD2.jpg" class="avatar img-circle img-thumbnail" alt="avatar" height="60" width="60">
            <% end %>
            <div class="media-body">
              <a href="/profiles/<%= comment['user_profile_id'] %>">
                <h6 class="mt-0"><%= comment["user_first_name"] %> <%= comment["user_last_name"] %> </h6>
              </a>
              <%= comment["text"] %>
            </div>
            <small><%= comment['date'] %></small>
          </div>
        </div>
      </li>
    <% end %>
    <div class="card card-body">
      <%= form_with(model: @new_comment, local: true) do |form| %>

        <div class="form-group">
          <%= form.label :comment %>
          <%= form.text_area :comment, class: "form-control" %>
        </div>

        <div class="field">
          <%= form.hidden_field :post_id, value: @post["id"] %>
        </div>

        <div class="actions">
          <%= form.submit :class=>"btn btn-dark" %>
        </div>
      <% end %>

    </div>
  </ul>
</div>

<div class="modal fade" id="show-location-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="height: 500px;width: 700px">
      <div class="modal-header">
        <h4 class="modal-title">Post location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>
