<div class="d-lg-flex p-3 justify-content-md-center">
  <div class="jumbotron" style="width:100%">
    <div class="">
      <div class="d-flex justify-content-start">
        <h2>Administrator List</h2>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-outline-primary" data-target="#new-administrator-modal" data-toggle="modal">Create administrator</button>
      </div>
    </div>

    <br>
    <table class="table table-striped">
      <thead>
      <th>E-mail</th>
      <th>Geofences</th>
      <th>Last Access</th>
      <th></th>
      </thead>
      <tbody>
      <% @users_info.each do |user| %>
        <tr>
          <td><%= user["email"] %></td>
          <td><%= user["geofences"] %></td>
          <th><%= user["last_access"] %></th>
          <td>
            <button class="btn btn-outline-success">Set geofences</button>
            <%=link_to 'Demote admin', user_role_path(user["id"]), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger"  %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="modal" id="new-administrator-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create administrator</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= form_tag("/users/create_admin", method: "POST") do |form|  %>
          <div class="form-group">
            <label for="user[email]">Email</label>
            <%= text_field(:user, :email, class: "form-control") %>
          </div>

          <div class="form-group">
            <label for="user[password]">Password</label>
            <%= text_field(:user, :password, class: "form-control") %>
          </div>

          <div class="form-check">
            <label for="user[is_active]">
              <input type="checkbox" class="form-check-input" name="user[is_active]" id="user_is_active"> Is active?
            </label>
          </div>

          <div class="actions">
            <%= submit_tag("Create", :class=>"btn btn-outline-primary") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
