<!DOCTYPE html>
<html>
<head>
  <title>M.A.P.I.</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="google-signin-client_id" content='394341695055-hduice4adlj986vjvpv7b4r14i2urn3i.apps.googleusercontent.com'>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <div style="margin-bottom: 20px">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">M.A.P.I.</a>
      <div class="navbar-collapse">
        <% if not @sign_in_view %>
          <form>
            <div class="input-group">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        <% end %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="col">
              <div class="row">
                <a class="text-white" href="<%=root_path %>"><i class="fas fa-user fa-2x"></i></a>
              </div>
              <div class="row text-white">
                Home
              </div>
            </div>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <% if current_user.is_super_admin? %>
                <div class="col">
                  <div class="row">
                    <a class="text-white" href="<%=super_admin_home_path %>"><i class="fas fa-user-shield fa-2x"></i></a>
                  </div>
                  <div class="row text-white">
                    Home
                  </div>
                </div>
              <% elsif current_user.is_admin? %>
                <div class="col">
                  <div class="row">
                    <a class="text-white" href="<%=admin_home_path %>"><i class="fas fa-user-cog fa-2x"></i></a>
                  </div>
                  <div class="row text-white">
                    Home
                  </div>
                </div>
              <% end %>
            </li>
            <li class="nav-item active">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if @current_profile %>
                    <%= @current_profile.first_name %>
                  <% end %>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <% if @current_profile %>
                    <a class="dropdown-item" href="/profiles/<%=current_user.id %>">Profile</a>
                    <%=link_to 'Edit profile', edit_profile_path(@current_profile.id), class:"dropdown-item" %>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
                </div>
              </div>
            </li>
          <% else %>
            <li class="nav-item active">
              <a class="nav-link text-white" href="/users/sign_in">Sign in</a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>

</header>
<body>
<div class="container">
  <% flash.each do |key, value| %>
    <% if key == "alert" %>
      <div class="alert alert-warning"><%= value %></div>
    <% elsif key == "notice" %>
      <div class="alert alert-success"><%= value %></div>
    <% else %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  <% end %>
</div>
<p></p>
<%= yield %>
</body>
<footer class="page-footer font-small unique-color-dark pt-4">
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="/users/sign_up" class="btn btn-outline-dark">Sign up!</a>
      </li>
    </ul>
  </div>
</footer>
</html>
